body{
    background: url('./dima.jpg') no-repeat top 20px right 20px;
    background-size:  100px 125px;        
}
h1,h3 {
    text-align: center;
}
a{
    text-decoration: none;
}

.tableLabWorks{
    width: 100%;
}

.tableLabWorks td {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    background-color: rgb(171, 255, 176);
    
}
.tableContent td{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    background-color: rgb(171, 255, 176);
}
.tableContent .tdContent{
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    text-align: left;
    padding: 15px;
    background-color: white;
}
/*----------------------------------New Style-----------------------------------*/

    

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.listLabWorks{    
    display: flex;
    justify-content: space-around;    
}
.listLabWorks li{
    font-size: 20px;
    flex:12.5%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    background-color: rgb(171, 255, 176);
}
.labContent{
    display: flex;
    align-items: flex-start;
}
.labItems{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width:20%;
}
.labItems li{
    font-size: 20px;
    /*width: 100%;*/    
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    background-color: rgb(171, 255, 176);
}
.subitem{
    width: 70%;
    margin-left: 20%;
}
.content{
    font-size: 20px;
    width:80%;
    padding: 30px;
    border: 1px solid black;
    border-radius: 15px;
    
}
